<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @team.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Description:</b>
  <%= @team.description %>
</p>

<p>
  <b>Private:</b>
  <%= @team.private %>
</p>

<p>
  <b>Recruiting:</b>
  <%= @team.recruiting %>
</p>

<p>
  <b>Dismissed:</b>
  <%= @team.dismissed %>
</p>

<%= render 'joining_form' %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
