<p id="notice"><%= notice %></p>

<p>
  <h1><%= @team.name %></h1>
</p>

<p>
  <b>Leader:</b>
  <%= link_to @team.user.name, @team.user %>
</p>

<p>
  <b>Description:</b>
  <%= @team.description %>
</p>

<p>
  <b>Members:</b>
  <%= link_to @team.members.length, team_members_path(@team) %>
</p>

<p>
  <b>Private:</b>
  <%= @team.private %>
</p>

<p>
  <b>Recruiting:</b>
  <%= @team.recruiting %>
  <% if @team.recruiting %>
    <%= render 'member_form' %>
  <% end %>
</p>

<p>
  <b>Dismissed:</b>
  <%= @team.dismissed %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
