<h1>Listing joinings</h1>

<table>
  <tr>
    <th>Nickname</th>
    <th>User</th>
    <th>Team</th>
    <th>Verifying</th>
    <th>Manager</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @joinings.each do |joining| %>
  <tr>
    <td><%= joining.nickname %></td>
    <td><%= joining.user_id %></td>
    <td><%= joining.team_id %></td>
    <td><%= joining.verifying %></td>
    <td><%= joining.manager %></td>
    <td><%= link_to 'Show', joining %></td>
    <td><%= link_to 'Edit', edit_joining_path(joining) %></td>
    <td><%= link_to 'Destroy', joining, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Joining', new_joining_path %>
