<p id="notice"><%= notice %></p>

<p>
  <b>Nickname:</b>
  <%= @joining.nickname %>
</p>

<p>
  <b>User:</b>
  <%= @joining.user_id %>
</p>

<p>
  <b>Team:</b>
  <%= @joining.team_id %>
</p>

<p>
  <b>Verifying:</b>
  <%= @joining.verifying %>
</p>

<p>
  <b>Manager:</b>
  <%= @joining.manager %>
</p>


<%= link_to 'Edit', edit_joining_path(@joining) %> |
<%= link_to 'Back', joinings_path %>
